*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.button {
    height: 50px;
    width: 50px;
    display: inline-block;
    margin: 20px;
    margin-top: 200px;
    /* margin-left: 200px; */
     align-items: center;
     justify-content: center;
    border: 2px solid black;
    border-radius: 5%;
    cursor: pointer;
}
.canvas h1{
    /* margin-left: 200px; */
    display: flex;
}
.canvas{
    height: 650px;
    display: flex;
    width: 100%;
    /* background-color: green; */
}

/* Colors for each button */
#blue {
    background-color: blue;
}

#red {
    background-color: red;
}

#Green {
    background-color: green;
}

#orange {
    background-color: orange;
}
#purple{
    background-color: purple;
}
